<html lang="en" ng-app="timeGolApp"><head>
<title>Time Travel Game Of Life</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="/static/scripts/lib/kinetic.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.js"></script>
<script src="/static/scripts/app/controller.js"></script>
<link rel="stylesheet" href="/static/css/app.css">
<script data-main="/static/scripts/app" src="/static/scripts/require.js"></script>
 </head>
 <body id="main" ng-controller="mainCtrl">
    {% verbatim %}
      {{universe_name}} Universe
    {% endverbatim %}
    <div id="container">
    </div>
    {% verbatim %}
      {{date}}
    {% endverbatim %}
</body>
</html>