<html lang="en" ng-app="timeGolApp"><head>
<title>Time Travel Game Of Life</title>
<script src="/static/scripts/lib/jquery.min.js"></script>
<script src="/static/scripts/lib/kinetic.js"></script>
<script src="/static/scripts/lib/angular.js"></script>
<script src="/static/scripts/app/controller.js"></script>
<link rel="stylesheet" href="/static/css/app.css">
<script data-main="/static/scripts/app" src="/static/scripts/require.js"></script>
 </head>
 <body id="main" class="time-flowing" ng-controller="mainCtrl">
    {% verbatim %}
      {{universe_name}}
    {% endverbatim %}

    <div id="set-new-name">
        <input id="input-name" type="text" name="name"> <button class="default" type="button" onclick="require('cs!app/game_screen').current.UploadName()"> Set Name </button>
    </div>
    <div id="container">
    </div>
    {% verbatim %}
      {{date}}
    {% endverbatim %}
    </br>
    <div id="time_flowing_control">
        <button class="button_backward" type="button" onclick="require('cs!app/game_screen').current.SetTimeRatio(-50000)"> <img src="/static/images/backward.png" > </button>
        <button class="button_forward" type="button" onclick="require('cs!app/game_screen').current.PressPlayPauseButton()"> <img id="play-button" src="/static/images/play.png" > <img id="pause-button" src="/static/images/pause.png" > </button>
        <button class="button_forward" type="button" onclick="require('cs!app/game_screen').current.SetTimeRatio(50000)"> <img src="/static/images/forward.png" > </button>
        <span id="fork-section"> 
            <input id="fork-checkbox" name="fork-checkbox" type="checkbox" /> Fork !
        </span>
    </div>
    <div id="forking_control">
        <button type="button" onclick="require('cs!app/game_screen').current.Fork()"> Fork ! </button>
    </div>

</body>
</html>